<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="E2E">
            <directory>tests/E2E</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:UxGa8G6DS7msJxRmGMj3PSBFP4xt6fhBBdeSzUF+3mY="/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="PLATFORM_CLIENT_SLUG" value="platform-test"/>
        <env name="PLATFORM_CLIENT_NAME" value="Platform Test"/>
        <env name="PLATFORM_DEPLOYMENT_MODE" value="instance_per_client"/>
        <env name="PLATFORM_SEED_INSTANCE_TENANT" value="false"/>
        <env name="PLATFORM_API_AUTH_ENABLED" value="false"/>
        <env name="PLATFORM_WEB_AUTH_ENABLED" value="false"/>
        <env name="PLATFORM_SEED_ADMIN_OPERATOR" value="false"/>
        <env name="PLATFORM_AUDIT_ENABLED" value="true"/>
        <env name="EVENTBUS_SCHEMA_VALIDATION" value="false"/>
    </php>
</phpunit>
